

.banner-container-fluid{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    font-weight: bold;

    padding: 5rem;
    margin-bottom: 5rem;
}

.button-cta{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    gap: 5rem;
    color: black;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


