
.listaHead {
    list-style-type: none;
    background-color: black;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 30px;
    justify-content: center;
    color: white;
    gap: 80px;
  }
  
  
  
  ul li {
    
    list-style-type: none;
  }
  
  .text-white{
    color: white;
    text-decoration: none;
  }