*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color:#18C49A;
   font-family: var(--font-poppins), sans-serif;
}

/*Not-found-buddy css*/
.box-NF{
  width: 70vw;
  margin: 300px auto;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.face{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.Title-NF{
  font-size: 40px;
}